.navbar {
  display: block;
  text-align: center;
  list-style-type: none;
  position: fixed;
  top: 2;
  width: 100%;
  position: fixed;
}
.logo {
  float: left;
  width: 8%;
  margin-top: 0;
}
.nav-items {
  display: inline;
}
