.navbar {
  display: block;
  text-align: center;
  list-style-type: none;
  position: fixed;
  top: 5;
  width: 80%;
  position: fixed;
  background-color: black;
  color: white;
  padding: 20px;
  margin-left: 150px;
}
.logo {
  float: left;
  width: 8%;
  margin-top: 0;
}
.nav-items {
  display: inline;
  padding: 5px;
}
