.navbar {
  display: block;
  text-align: center;
  list-style-type: none;
  position: fixed;
  top: 30%;
  width: 10%;
  position: fixed;
  /* background-color: #868C8C; */
  color: black;
  padding: 20px;
  left: 1.5%;
  font-size: 130%;
}
.logo {
  float: left;
  width: 15%;
  margin-top: 0;
}
.nav-items {
  /* display: inline; */
  padding: 5px;
}
body {
  font-family: 'Quicksand', sans-serif;
  background-image: url("paper.jpg")
}
.nav-items:hover {
  background-color: black;
  color: #8fe3d9;
  cursor: pointer;
}
.buy-paper {
  cursor: pointer;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  /* border-color: #8fe3d9; */
  background-color: transparent;
  text-align: center;
  padding: 16px 32px;
  border: 2px solid #8fe3d9;
  font-size: 200%;
  width: 40%;
  margin-top:167px;
  margin-left: 250px;
}
.buy-paper:hover {
  background-color: #8fe3d9;
  color: black;
}
